* {
    font-family: 'Roboto', sans-serif;
}
#myWork {
    background-color:  rgb(121, 128, 131);
    padding-top: 1rem;
    margin-top: 6px;
    width: 100%;
}

/* styles header */
header {
    padding: 25px;
    background-color: rgb(121, 128, 131);
    color: #ffffff;
}

/* styles h1 element of the header */
header h1 {
    font-size: 60px;
    padding-left: 8rem;
}

/* styles image bar under header */
.hero {
    height: 150px;
    width: 100%;
    margin-bottom: 1px;
    margin-top: 1px;
    background-image: url("3272183.jpg");;
    background-size: cover;
    background-position: center;
}

/* syles h2 elemen in main section of HTML */ 
main h2 {
    font-size: 36px;
    color: white;
    margin-top: 1px;
    margin-left: 30px;
}

.btn {
    margin-left: 1rem;
    margin-top: 1rem;
}

/* styles the p elements */
p {
    font-size: 18px;
}

.row {
    padding-left: .25rem;
    padding-bottom: 1rem;
    justify-content: center;
}


/* styles the picture*/
.center {
    display: inline-block;
    width: 95%;
}

/*about me section styling*/
#aboutMe {
    background-color: rgb(121, 128, 131);
    padding-top: 1rem;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 95%;
}

#aboutMe p {
    padding: 0 1.25rem;
    color:white;
    font-size: 18px;
}

/* Contact me section styling */
#contactMe {
    background-color: rgb(121, 128, 131);
    padding: 1rem;
    width: 95%;
    margin-top: 6px;
}
#contactMe a{
font-size: 20px;
}
#contactMe h2{
    text-align: left;
}
#contactMe h3 {
    margin-left: 2rem;
}

/* styles the image of linkedin the aside*/
#linkedin img {
    max-width: 40px;
    max-height: 40px;
}

/* styles the footer*/
footer {
    padding: 30px;
    clear: both;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}

/* styles the h2 element in the footer*/

footer h2 {
    font-size: 20px;
}

@media screen and (max-width: 992px){
    .row {
        display:flex;
        align-items: center;
    }
}

@media screen and (max-width: 1200px){
    #rightSide{
        display: flex;
        flex-direction: column;
        width:95%;
        align-items: center;
        padding-left:2rem;
    }
}

@media screen and (max-width: 555px){

    .container-md {
        display: flex;
        flex-direction: column;
    }

    .hero {
        max-height: 75px  ;
    }

    header h1 {
        text-align: center;
        padding-left: 0;
    }

    #contactMe a {
        font-size: 16px;
    }
}

